
/* Container */
.container {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}
.container.active .mdl-card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container.active .mdl-card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.container.active .mdl-card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.container.active .mdl-card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.container.active .mdl-card.alt .toggle:before {
  content: '';
}
.container.active .mdl-card.alt  {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

/* .container.active .mdl-card.alt .mdl-card__title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.container.active .mdl-card.alt form {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.container.active .mdl-card.alt .mdl-textfield:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.container.active .card.alt .mdl-textfield:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.container.active .card.alt form button {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
} */

/*Card*/
.container .mdl-card {
  position: relative;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.container .mdl-card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
  top: 190px;
  width: 67%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)

}

/*title*/
.signin,.clerk{
  position: relative;
  z-index: 1;
  border-left: 8px solid #ed2553;
}

.clerk h2{
  color: #ed2553;
  padding: 10px 0 10px 50px;
  font-size: 32px;
  font-weight: 600;
}

.signin h2{
  padding: 10px 0 10px 50px;
  color: #ed2553;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
/*button*/
.loginBtn{
  text-align: center;
  font-size: 24px;
  width:100%;
  padding:10px;
  color: white;
  background-color: #ed2553
 
}
.container .mdl-button{
  height: 50px;
}

/*footer*/
.mdl-card .footer {
  margin: 25px 0 0;
  color: #d3d3d3;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}
.mdl-card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.mdl-card .footer a:hover {
  color: #bababa;
}

/*register card*/
.mdl-card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.mdl-card.alt .toggle {
  position: relative;
  background: #ed2553;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.mdl-card.alt .toggle:before {
  content: '\f040';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.mdl-card .alt{
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.mdl-card.alt{
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
} 

/* .card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #ed2553;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
} */

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

.confirmBox{
  min-height:0
}

.nav{

  /* height: 30vh; */
  color:#2c3e50;

}
.nav .mdl-layout__title{
  font-size: 2em;
  letter-spacing: 0.1em;
  font-weight: 600;

}


.bk{
  background: url('./img/hypnotize.png');
}

.mdl-layout{
  height:100vh;
}
.mdl-layout__content{
  /* top: -18vh;
  z-index:5; */
 height: 100%; 
}

.padLeft{
  margin-left: 5px;
}
/* .nonMemberContainer
{
  position:relative; 
  /* top:+18vh; 
} */

.paymentBtn{
  text-align: center;
  font-size: 16px;
  width:100%;

}
.cart{
  max-height:50vh;
  overflow-y: auto;
  /* background-color: rgba(136,162,189,0.3); */
  margin-left:20px;
  border-radius: 15px;
  border: 3px solid rgb(136,162,189);
}
.cart h4{
  text-align: center;
  letter-spacing: 2px;
}

.searchItem{
  background-color: rgba(136,162,189,0.3);
  border-radius: 15px;
}

/* ----------------------------------- */
/* display product items for sale */
/* ----------------------------------- */
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  /* background-color: rgba(136,162,189,0.3); */
  border-radius: 15px 15px 0 0;
  border: 3px solid rgb(136,162,189)
 }
.tbl-content{
  max-height:50vh;
  overflow-x:auto;
  overflow-y: auto;
  margin-top: 0px;
  /* background-color: rgba(136,162,189,0.3); */
  border-radius: 0 0 15px 15px ;
  border-left: 3px solid rgb(136,162,189);
  border-right: 3px solid rgb(136,162,189);
  border-bottom: 3px solid rgb(136,162,189);
}
caption{
  font-weight:500;

}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;

  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;

  border-bottom: solid 1px rgba(136,162,189,0.1);
}

.clickable{
  cursor:pointer;
}

/* mouse over link */
.clickable:hover {
  background-color:gray;
  color: white;
}

.clickable:active {
  background-color:lightgray;
  color: gray;
}

::-webkit-scrollbar {
  width: 6px;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
